<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/styling.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script type="text/javascript" src="/javascripts/angular.js"></script>
		<script src="/javascripts/angular-ui-router.js"></script>
		<script type="text/javascript" src="/javascripts/angularApp.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/materialize.min.js"></script>

		<style type="text/css">
			.click {
				cursor: pointer;
			}
			.active {
				color: #20CCE2;
			}
		</style>
	</head>
	<body ng-app="flapperNews">
		<nav ng-controller="NavCtrl">
	    <div class="nav-wrapper">
	      <a href="/#/home" class="brand-logo ml2 logo">Logo</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
					<li ng-show="isLoggedIn()">
						<a href="/#/addPost">add post</a>
					</li>
					<li ng-show="isLoggedIn()">
						<a href="/#/user/{{userUrl()}}">{{currentUser()}}</a>
					</li>
	        <li ng-hide="isLoggedIn()">
	        	<a class="waves-effect waves-light btn-large ml2" href="/#/login">LogIn</a>
	        </li>
	        <li ng-show="isLoggedIn()">
	        	<a class="waves-effect waves-light btn-large ml2" ng-click="logOut()">LogOut</a>
	        </li>
	        <li ng-hide="isLoggedIn()">
	        	<a class="waves-effect waves-light btn-large ml2" href="/#/register">Signup</a>
	        </li>
	      </ul>
	    </div>
	  </nav>
	  <ui-view></ui-view>
		
		<footer class="page-footer">
		  <div class="container">
		    <div class="row">
		      <div class="col l6 s12">
		        <h5 class="white-text">Footer Content</h5>
		        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
		      </div>
		      <div class="col l4 offset-l2 s12">
		        <h5 class="white-text">Links</h5>
		        <ul>
		          <li><a class="grey-text text-lighten-3" >Link 1</a></li>
		          <li><a class="grey-text text-lighten-3" >Link 2</a></li>
		          <li><a class="grey-text text-lighten-3" >Link 3</a></li>
		          <li><a class="grey-text text-lighten-3" >Link 4</a></li>
		        </ul>
		      </div>
		    </div>
		  </div>
		  <div class="footer-copyright">
		    <div class="container">
		    © 2016 Copyright Text
		    <a class="grey-text text-lighten-4 right" >More Links</a>
		    </div>
		  </div>
		</footer>

		<script type="text/ng-template" id="/home.html">
			<div class="section">
				<div class="row">
					<div class="col s12 offset-l1 l10 ">
			      <div class="row">
			        <div class="col s12 m6 l4" ng-repeat="post in posts">
			          <div class="card">
			          	<div class="card-content">
			              <span class="title-story">
			              	<a href="#/posts/{{post._id}}">
												{{post.title}}
											</a>
			              </span>
			              <p>{{post.body}}</p>
			            </div>
			            <div class="card-action">
			              <a >Read more</a>
			              <a class="waves-effect waves-light btn-small right-align active" ng-show="post.upvoted" ng-click="incrementUpvotes(post)">
			              	<i class="small material-icons green-text text-accent-3">star_border</i>
			              </a>
			              <a class="waves-effect waves-light btn-small right-align" ng-hide="post.upvoted" ng-click="incrementUpvotes(post)">
			              	<i class="small material-icons green-text text-accent-3">star_border</i>
			              </a>
			              {{post.upvotes}}
			            </div>
			          </div>
			        </div>
			      </div>
					</div>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="/addPost.html">
			<div class="section">
				<div class="container">
					<div ng-hide="isLoggedIn()">
						<h3>
							You need to 
							<a href="/#/login">log In</a> or 
							<a href="/#/register">Register</a> 
							before you can add a post
						</h3>
					</div>

					<form ng-submit="addPost()" ng-show="isLoggedIn()">
						<div class="row">
		      		<div class="input-field col s12">
		          	<textarea id="textarea1"  class="materialize-textarea add-title" ng-model="title" requoired></textarea>
		          	<label for="textarea1">Add Title</label>
		        	</div>
		        </div>
						<div class="row">
		      	 <div class="input-field col s12">
		          <textarea name="body" rows="10" class="materialize-textarea add-body " placeholder="Tell a freaking story" ng-model="body" required></textarea>
		          <label for="body">Body</label>
		         </div>
		        </div>
			      <div class="row">
			        <div class="input-field col offset-m8 s12 m4">
			          <select ng-model="type" required class="browser-default" placeholder="Type">
			          	<option value="" disabled selected>Choose your option</option>
						      <option ng-repeat="x in types" value="{{x.value}}" on-finish-render="ngRepeatFinished">{{x.value}}</option>
						    </select>
			        </div>
			        <!-- <div class="input-field col s12 m6">
			          <input id="tag" type="text" class="validate" ng-model="tags">
			          <label for="tag">Tag</label>
			        </div> -->
			      </div>
			      <button class="btn waves-effect waves-light submit-btn" type="submit">Submit
		  			</button>
					</form>
		    </div>
			</div>
		</script>

		<script type="text/ng-template" id="/posts.html">
			<div class="section">
				<div class="row">
					<div class="container line-width">
						<div class="story-head center-align mb2">
		    	 		<h1 class="story-title">{{post.title}}</h1>
		    	 		<h3 class="story-author">{{post.author}}</h3>
		    	 	</div>
		    	 	<div class="story-body mb2">
		    	 		{{post.body}}
		    	 	</div>
						<div class="story-foot mb3">
		          <a  class="icons timestamp">last saved kal</a>
		          <a class="waves-effect waves-light btn-small right-align icons">
		          	<i class="small material-icons green-text text-accent-3 active" ng-show="post.upvoted" ng-click="upvote()">star_border</i>
		          	<i class="small material-icons green-text text-accent-3" ng-hide="post.upvoted" ng-click="upvote()">star_border</i>
		          	<span class="number">{{post.upvotes}}</span>
		          </a>
		          <a class="waves-effect waves-light btn-small right-align icons">
		          	<i class="small material-icons green-text text-accent-3">comment</i>
		          	<span class="number">{{post.comments.length}}</span>
		          </a>
		          <a class="waves-effect waves-light btn-small right-align icons" ng-show="isAuthorized()" ng-click="delete()">
		          	<i class="material-icons">delete</i>
		          	<span class="number">Delete</span>
		          </a>
						</div>
						<div class="section mb2">
					  	<div class="row">
					  		<div ng-hide="isLoggedIn()">
									<h3>You need to <a href="/#/login">log In</a> or <a href="/#/register">Register</a> before you can add a comment
									</h3>
								</div>

						    <form class="col s12" ng-submit="addComment()" ng-show="isLoggedIn()">
						      <div class="row">
						        <div class="input-field col s12 card comm-input">
						          <img src="sdkjbvkbj" alt="" class="circle comm-image prefix" />
						          <input id="icon_prefix" type="text" class="ml4" ng-model="body">
						          <label for="icon_prefix" class="ml4">Comment</label>
						          <button class="btn waves-effect waves-light submit-btn pos-absolute" type="submit">
												submit
										  </button>
						        </div>
						      </div>
						    </form>
						  </div>
					  </div>
		        <span>
		      		<ul class="collection comments">
		 						<li class="collection-item avatar card-panel mb3" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
									<img src="images/yuna.jpg" alt="" class="circle">
									<span class="title">{{comment.author}}</span>
										<p>{{comment.body}}</p>
									<a class="secondary-content click">
										<i class="material-icons green-text text-accent-3 active" ng-show="comment.upvoted" ng-click="incrementUpvotes(comment)">star_border</i>
										<i class="material-icons green-text text-accent-3" ng-hide="comment.upvoted" ng-click="incrementUpvotes(comment)">star_border</i>
										{{comment.upvotes}}
									</a>
								</li>
							</ul>
		      	</span>
		  	  </div>
		    </div>
		  </div>
		</script>

		<script type="text/ng-template" id="/users.html">
			<div class="section">
				<div class="container">
					<div class="header story-head">
						<h1 class="story-title">
							{{user.name}}
						</h1>
						<img src="/img/jay.jpeg" class="z-depth-3 user-image">
					</div>
					<div class="profile-body">
						<div class="row">
							<div class="col s3">
								<nav class="side-navbar">
									<ul>
							      <li><a >Stories</a></li>
							      <li><a >Tags followed</a></li>
							    </ul>
								</nav>
							</div>
							<div class="col s9">
								<div class="content-user">
									<ul>
										<li ng-repeat="post in post">
											<div class="card user-card blue-grey darken-1">
						            <div class="card-content white-text">
						              <a href="#/posts/{{post._id}}">
						              	<span class="card-title">{{post.title}}</span>
						              </a>
						              <p>{{post.body}}</p>
						            </div>
						            <div class="card-action">
						              <a >This is a link</a>
						              <a >This is a link</a>
						            </div>
						          </div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="/register.html">
			<div ng-show="error" class="alert alert-danger row">
				<span>{{error.message}}</span>
			</div>

			<div class="section">
				<div class="row">
					<div class="col offset-l3 l6">
						<div class="card">
		          <div class="card-content login-card">
		            <span class="card-title">Signup</span>
		          	<form ng-submit="register()">
		          		<div class="input-field col s12">
					          <input placeholder="Name" type="text" ng-model="user.name" required>
					        </div>
		          		<div class="input-field col s12">
					          <input placeholder="Email" type="email" ng-model="user.email" required>
					        </div>
					        <div class="input-field col s12">
					          <input placeholder="password" type="password" ng-model="user.password" required>
					        </div>
									<button type="submit" class="waves-effect waves-light btn">Let's begin</button>
					      </form>
				      </div>
		        </div>
					</div>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="/login.html">
			<div ng-show="error" class="alert alert-danger row">
				<span>{{error}}</span>
			</div>

			<div class="section">
				<div class="row">
					<div class="col offset-l4 l4">
						<div class="card">
		          <div class="card-content login-card">
		            <span class="card-title">Login</span>
		          	<form ng-submit="logIn()">
								 	<div class="input-field col s12">
					          <input placeholder="email" type="text" ng-model="user.email" required>
					        </div>
					        <div class="input-field col s12">
					          <input placeholder="password" type="password" ng-model="user.password" required>
					        </div>
									<button type="submit" class="waves-effect waves-light btn">ghus ja</a>
					      </form>
				      </div>
		        </div>
					</div>
				</div>
			</div>
		</script>
	</body>	
</html>